.HomeBody {
    background: var(--home-body-bg);
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    height: 50vh;
    overflow: hidden;
}

.HomeContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* A침adido para permitir que las columnas se envuelvan en pantallas m치s estrechas */
    width: 100%;
    height: calc(90vh - 5px);
    margin: 0 auto;
    overflow: hidden;
}

.HomeColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Cambiado a 100% para dispositivos m칩viles */
    height: 100%;
    margin: 0 auto;
    overflow-y: auto;
    padding: 0 5px;
    gap: 4px;
}

.TermsAndConfirm {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

@media (min-width: 768px) {
    .HomeColumn {
        width: 33.33%;
    }
}

@media (max-width: 1375px) {

    .HomeContent {

        display: flex;
        flex-direction: column;
        flex-wrap: 0;

    }

    .HomeColumn {
        width: 100%;
        margin-top: 10px;
        /* A침adido espacio entre columnas */
    }
}